.create-pr {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 40px);
  padding: 20px;
}

.create-pr__title {
  font-size: 12px;
  font-weight: 600; // semibold
}

.create-pr__title--content {
  flex-grow: 1;
}

.create-pr__repo-config {
  display: flex;
  font-size: 12px;
  margin: 10px 0 20px;
  align-items: center;
}

.create-pr__icon {
  height: 14px;
  width: 14px;
  margin-right: 8px;
}

.create-pr__slash-divider {
  margin: 0 8px;
  display: inline;

  &::before {
    display: inline;
    content: '/';
  }
}

.create-pr__button-bar {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.create-pr__button {
  margin: 0 20px;
  min-width: 120px;
}

.create-pr__json-preview {
  overflow: scroll;
  max-height: 230px;
  border-radius: 6px;
  margin: 10px 0;
}
