.index {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 10px);
}

.index__title {
  font-size: 12px;
  font-weight: 600;
  margin: 10px 20px;
}

.index__style-list {
  overflow: scroll;
  flex-grow: 1;
  margin-bottom: 10px;
}

.index__style-list--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.index__button-bar {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.index__button {
  margin: 0 5px;
  min-width: 70px;
}
