.config {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 10px);
  margin: 0 20px;
}

.config__section_title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.config__input-label {
  line-height: 16px;
  margin: 10px 0;
}

.config__main-list {
  overflow: scroll;
  flex-grow: 1;
  margin-bottom: 10px;
}

.config__list-item {
  margin-bottom: 4px;
  line-height: 16px;
  margin: 10px 0;
}

.config__button-bar {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.config__button {
  margin: 0 10px;
  min-width: 50px;
}